{% extends 'base.html' %}

{% block content %}
<!-- <div class="register-wrapper">
    {% if error_message %}
        <p class="error">
        {{ error_message }}
        </p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <br>
        <div class="center_div">
            <button class="submit_button" type="submit">Sign Up</button>
            <br>
            If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.
        </div>
    </form>

</div> -->
<section class="h-100">
    <div class="container-fluid h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
         
          <div class="card shadow-lg">
            <div class="card-body p-5 ml-4">
              <h1 class="fs-4 card-title fw-bold mb-4">Signup</h1>
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <div class ="ml-5">
                    {% if error_message %}
                    
                    <p class="error">{{ error_message }}</p>
                  {% endif %}

                </div>
                  <span>{{ form.username.label_tag }}</span>
                  <!-- <span class="textbox">{{ form.username }}</span> -->
                  <!-- <label class="mb-2 text-muted" for="email">E-Mail Address</label> -->
                  <span style="margin-left : 92px">{{form.username}}</span>
                  <!-- <input id="email" type="email" class="form-control" name="email" value="{{ form.username }}" required autofocus /> -->
                  
                </div>
                <div class="mb-3">
                    <div class="mb-2 w-100 ml-1">
                      <!-- <label class="text-muted" for="password">Password</label> -->
                      <span>{{ form.email.label_tag }}</span>
                      <span style="margin-left:122px">{{form.email}}</span>
                      
                    </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-2 w-100 ml-1">
                          <!-- <label class="text-muted" for="password">Password</label> -->
                          
                          <span>{{ form.phone.label_tag }}</span>
                          <span style = "margin-left:115px">{{form.phone}}</span>
                          
                        </div>
                        
                        <!-- <input id="password" type="password" class="form-control" name="password" value = "{{form.password}}"required> -->
                          <div class="invalid-feedback">
                            Password is required
                          </div>
                          
                      </div>
      
                <div class="mb-3">
                  <div class="mb-2 w-100 ml-1">
                    <!-- <label class="text-muted" for="password">Password</label> -->
                    <span>{{ form.password1.label_tag }}</span>
                    <span style="margin-left:92px">{{form.password1}}</span>
                    
                  </div>
                  
                  <!-- <input id="password" type="password" class="form-control" name="password" value = "{{form.password}}"required> -->
                    <div class="invalid-feedback">
                      Password is required
                    </div>
                    
                </div>
                <div class="mb-3">
                    <div class="mb-2 w-100 ml-1">
                      <!-- <label class="text-muted" for="password">Password</label> -->
                      <span>{{ form.password2.label_tag }}</span>
                      {{form.password2}}
                      
                    </div>
                    
                    <!-- <input id="password" type="password" class="form-control" name="password" value = "{{form.password}}"required> -->
                      <div class="invalid-feedback">
                        Password is required
                      </div>
                      
                  </div>
  
                <div class="d-flex align-items-center" style="padding-left:125px">
                  
                  <input class=" btn btn-primary ms-auto"  type="submit" value="Sign Up" />
                  <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <a href="{% url 'password_reset' %}" class="float-end" style="padding-left:100px">
                  Forgot Password?
                </a>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Don't have an account? <a href="{% url 'register' %}" class="text-dark">Create One</a>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 text-muted">
            Copyright &copy; 2022-Present &mdash; ZotVerse 
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
