{% extends "base.html" %}
{% block content %}
<html>
    <title>About Us</title>
    <body>
        <div class="wrapper">
            <a class="auction-card">
                <div><img class="auction_image_index" src="/static/Anish.png"></div>
                <div class="auction-card-title">Anish Pandita</div>
                <li>panditaa@uci.edu</li>
                <li>90688024</li>
                <!-- <a href="#">
                    LinkedIn
                </a> -->
            </a>
            <a class="auction-card">
                <div><img class="auction_image_index" src="/static/GK.jpg"></div>
                <div class="auction-card-title">Gurkanwal Singh Kang</div>
                <li>gurkanwk@uci.edu</li>
                <li>93887116</li>
                <!-- <li><a href="https://www.linkedin.com/in/mayank-chandak/">
                    LinkedIn
                </a></li> -->
            </a>
            <a class="auction-card">
                <div><img class="auction_image_index" src="/static/Mayank.png"></div>
                <div class="auction-card-title">Mayank Chandak</div>
                <li>mchandak@uci.edu</li>
                <li>86041404</li>
                <!-- <a href="https://www.linkedin.com/in/mayank-chandak/">
                    LinkedIn
                </a> -->
            </a>
            <a class="auction-card">
                <div><img class="auction_image_index" src="/static/Neelendu.png"></div>
                <div class="auction-card-title">Neelendu Wadhwa</div>
                <li>neelendw@uci.edu</li>
                <li>92966132</li>
                <!-- <a href="https://www.linkedin.com/in/mayank-chandak/">
                    LinkedIn
                </a> -->
            </a>
        </div>
    </body>
</html>
{% endblock %}