<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>ZotVerse</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>
<body>
      {% block sidebar %}
        <ul class="navbar">
          <li class="auction-rush-button">
            <a class="navbar-link" href="{% url 'about' %}">
                ZotVerse
            </a>
        </li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'auctions:auctions' %}">All Listings</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'index' %}"">Active Listing</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_auctions' %}">My auctions</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_bids' %}">My bids</a></li>
          <li class="create-auction-button"><a class="navbar-link" href="{% url 'auctions:create' %}">Create an auction</a> </li>
          {% endif %}   
          {% if user.is_authenticated %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'logout' %}?next={% url 'index' %}">Logout</a></li>
            <li class="navbar-item-right"><span class="navbar-text">Logged in as: <span class="username">{{ user.get_username }}</span></span></li>
          {% else %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'login' %}?next={% url 'index' %}">Login</a></li>
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'register' %}?next={{request.path}}">Register</a></li>
          {% endif %}
          <div style = "margin-top: 15px;">
            <!-- class="form-group mx-sm-3 mb-2" -->
            <!-- <li for="" class="sr-only"></li> -->
            <form method="post" action="/auctions/search" >
              <input name="search_keyword" type="" class="navbar-link" id="" placeholder="search...."/>
              <button type="submit">Submit<i class="fa fa-search"></i></button>
            </form>
            
            </div>
        </ul>
     {% endblock %}
      <div class="main-content">{% block content %}{% endblock %}</div>
</body>
</html>
